.loginBG{
    width: 100vw;
    height: 105vh;
    background: url('../../../images/imageBG.jpg');
    background-size: cover;
    grid-column: 1/2;
    background-color: rgba(0, 0, 0, 0.37);
    background-blend-mode: multiply;
    background-attachment: fixed;
    position: absolute;
}
.login-panel{
    background: linear-gradient(rgb(36, 22, 99), rgba(167, 38, 148, 0.993));
    width: 30vw;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 25vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.login-panel h1{
    width: 100%;
}
.login-panel input{
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding-left: 10px;
}
#loginHeader {
    color: #F7F7E8;
}