#root{
    grid-template-columns: 20% 80%;
    display: grid;
    --prim-color:#283149;
    --card-color:#DBEDF3;
    color:#404b69; 
    margin: -8px;   
}

button{
    background: rgb(21,14,48);
    border-radius: 5px;
    padding: 5px 20px;
    color: #DBEDF3;
    font: normal bold 18px "Open Sans",sans-serif;
    text-align: center;
    margin-bottom: 10px;
    position:relative;
}

h1 {
    font-family: 'Exo 2', sans-serif;
  }
  
  h2{
    font-family: 'Exo 2', sans-serif;
  }
  
  h3, h4, h6{
    font-family: 'Exo 2', sans-serif;
  }

button:hover{
    transition: all 0.3s;
    opacity: 0.7;
}
.page-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    grid-column: 2;
    margin-top: 2%;
}